.wrapBlock{
	border: 1px solid #3383BB;
	padding:5px;
	width:80%;
	background:#DDD;
	margin:5px;
	
}

.middleBlock{
	height:400px
}

body{
	background:url(../img/background.PNG); 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	

}

a {
	color:#3383BB;
}

fieldset{
	border: 1px solid #3383BB;
}

.error{
	background:url("../img/ui-bg_glass_95_fef1ec_1x400.png") repeat-x scroll 50% 50% #FEF1EC;
	border:1px solid #CD0A0A;
	color:#CD0A0A;
	width:450px;
}

.information{
	width:450px;
}

hr {
	width:81%;
}

#tabs {
	height:375px;
}

a{
	color : #3383BB;
}

.errorIcon {
    background-position: 0 -144px;
    background-image: url("../img/ui-icons_999999_256x240.png");
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}

table#commentsTable th div {
	border: 1px solid #3383BB;
}

table#commentsTable tr td div {
	border: 1px solid #3383BB;
}

.delete-icon{
	 float: left;
    margin: 0 4px;
    background-image: url(../img/ui-icons_999999_256x240.png);
    background-position: -96px -128px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    cursor: pointer;
    list-style: none outside none;
}






